/**  
   * @Title: tableview
   * @ProjectName gui-lab
   * @Description: TODO
   * @Author Administrator
   * @Date: 2020/3/31 0031 12:18
   * @Description: 迷你大小的表格样式
   */
/*设置表格头靠左、字体大小，字体颜色*/
.table-view .column-header .label{
    -fx-alignment: center-left;
    -fx-font-size: 15;
    -fx-font-weight: bolder;
    -fx-background-color: none;
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #fff;
}

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 28;
    -fx-background-color: none;
}

/*设置每一列内容居中，每一行高度*/
.table-row-cell{
    -fx-cell-size: 26px;
    -fx-alignment: center;
    -fx-background-color: none;
    -fx-font-size: 14;
}

#dataTableView{
    -fx-fill-width: 100%;
    -fx-fill-height: 100%;
    -fx-alignment: center-left;
    -fx-background-color: none;
}

/*设置每一列内容居中*/
#dataTableView .table-column{
    -fx-alignment: center-left;
    -fx-background-color: none;
    -fx-border-width: 0px;
    -fx-text-fill: #467cfd;
}

.jumpButton{
    -fx-background-color: none;
}